/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

/* Variables */

:root {
    --default-background-main: #E6DCF5;
    --login-btn: #D0D0D0;
    --light-green: #A1BC97;
    --middle-red: #6D0000;
    --dark-red-txt: #4F1E1E;
    --add-new-btn-background: #D4C8C8;
    --black: #000000;
    --white: #FFFFFF;
    --beige: #ECEBD6;
    --yellow: #F9E74D;
    --turquoise: #AECDC8;
    --default-font: 'Pattaya', sans-serif;
    --text-font: 'Anek Latin', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Normalize styles */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--default-font);
    background-color: var(--default-background-main);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
}

p {
    margin: 0;
    line-height: 1.5;
    font-family: var(--default-font);
}

input, button {
    font-family: var(--default-font);
    font-size: 16px;
    font-weight: 400;
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--light-green);
}

.header-block {
    width: 100%;
    padding: 15px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    display: flex;
    align-items: center;
    background-color: var(--beige);
    padding: 10px 100px;
    border-radius: 50px 10px 50px 10px;
}

.header-title h1 {
    color: var(--dark-red-txt);
    text-align: center;
}

.login-btn {
    background-color: var(--login-btn);
    border: none;
    border-radius: 10px 50px 10px 50px;
    overflow: hidden;
}

.login-btn:hover {
    cursor: pointer;
}


.login-btn-txt {
    padding: 15px;
}

main {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.main-inner {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counts {
    padding: 5px 15px;
    border-radius: 30px;
    background-color: var(--turquoise);
    color: var(--black);
}

.add-new-btn {
    border: 1px solid var(--white);
    color: var(--black);
    border-radius: 50px;
    background-color: var(--add-new-btn-background);
    margin-right: 50px;
}

.add-new-btn {
    cursor: pointer;
}

section.items {
    margin-top: 50px;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item:nth-child(3n) {
    margin-right: 0;
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 50px);
    height: 300px;
    background-color: var(--yellow);
    margin: 0 50px 50px 0;
    padding: 30px;
    font-family: var(--text-font);
}

.title-group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--black);
}

.title-txt {
    font-size: 24px;
    font-weight: 500;
}

.editBtn-time-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.edit-btn-block {
    overflow: hidden;
    border-radius: 10px 10px 5px 5px;
    margin-bottom: 10px;
}

.edit-btn {
    width: 60px;
    height: 25px;
    border-radius: 10px 10px 5px 5px;
    padding: 0px;
    background-color: transparent;
    border: 2px solid var(--middle-red);
}

.edit-btn:hover {
    background-color: var(--middle-red);
    border: 2px solid var(--black);
    color: var(--white);
    cursor: pointer;
}

.edit-btn span {
    letter-spacing: 7px;
    text-align: center;
}

.time span {
    margin: 0;
    padding: 0;

}

.date {
    display: flex;
}

.clock {
    display: flex;
    flex-direction: column;
}

.item-content {
    margin-top: 20px;
    padding-right: 5px;
    overflow-y: scroll;
    font-size: 14;
    font-family: var(--text-font);
    line-height: 1.5;
}

.item-content::-webkit-scrollbar {
    width: 5px;
}

.item-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.item-content::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 30px;
}