/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

/* Variables */

:root {
    --default-background-main: #E6DCF5;
    --login-btn: #D0D0D0;
    --dark-green: #A1BC97;
    --light-green: #AFBE8F;
    --popUp-background: #F1F5B8;
    --popUp-header-background: #CBD781;
    --popUp-background-textArea: #E3E3E3;
    --middle-red: #6D0000;
    --dark-red-txt: #4F1E1E;
    --add-new-btn-background: #D4C8C8;
    --grey: #6D6D6D;
    --dark-grey: #AAA;
    --black: #000000;
    --white: #FFFFFF;
    --beige: #ECEBD6;
    --yellow: #F9E74D;
    --save-btn-green: #54B244;
    --cancel-btn-red: #C80000;
    --scroll-track: #BFBFBF;
    --turquoise: #AECDC8;
    --default-font: 'Pattaya', sans-serif;
    --text-font: 'Anek Latin', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Normalize styles */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--default-font);
    background-color: var(--default-background-main);
}

.clear-body-scroll {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
}

p {
    margin: 0;
    line-height: 1.5;
    font-family: var(--default-font);
}

input, button {
    font-family: var(--default-font);
    font-size: 16px;
    font-weight: 400;
    outline: none;
}


/* Main styles */

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--dark-green);
}


.header-block {
    width: 1200px;
    padding: 10px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header-title {
    display: flex;
    align-items: center;
    background-color: var(--beige);
    padding: 10px 100px;
    border-radius: 50px 10px 50px 10px;
}

.header-title h1 {
    font-size: 24px;
    color: var(--dark-red-txt);
    text-align: center;
}

.login-btn {
    color: var(--black);
    background-color: var(--login-btn);
    border: 1px solid var(--login-btn);
    border-radius: 10px 50px;
    font-size: 14px;
    transition: color 0.5s ease-out 0.2s, background-color 0.5s ease-out 0.2s, border 0.5s ease-out 0s, border-radius 1.5s ease-out 0.2s;
    overflow: hidden;
}

.login-btn-txt {
    padding: 20px;
}

.login-btn:hover {
    color: var(--login-btn);
    background-color: var(--grey);
    border: 1px solid var(--black);
    border-radius: 50px;
    cursor: pointer;
}

.header-login a {
    text-decoration: none;
    display: block;
}

.login-btn-txt:visited {
    text-decoration: none;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.main-inner {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counts {
    padding: 5px 15px;
    border-radius: 30px;
    background-color: var(--turquoise);
    color: var(--black);
}

.add-new-btn {
    border: 1px solid var(--white);
    padding: 5px;
    overflow: hidden;
    color: var(--black);
    border-radius: 50px;
    background-color: var(--add-new-btn-background);
    transition: background-color 0.5s ease-out 0s, border 0.5s ease-out 0s, color 0.5s ease-out 0.2s;
}

.add-new-btn:hover {
    background-color: var(--light-green);
    border: 1px solid #000;
    color: var(--white);
    cursor: pointer;
}

section.items {
    margin-top: 50px;
}


.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 50px);
    margin: 0 75px 50px 0;
    height: 300px;
    background-color: var(--yellow);
    padding: 30px;
    border-radius: 15px;
    font-family: var(--text-font);
}

.title-group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--black);
}

.title-txt {
    font-size: 24px;
    font-weight: 500;
}



.editBtn-time-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.edit-btn-block {
    width: 60px;
    height: 25px;
    overflow: hidden;
    border-radius: 10px 10px 5px 5px;
    margin-bottom: 10px;
}

.edit-btn {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 5px 5px;
    background-color: transparent;
    border: 2px solid var(--middle-red);
    transition: background-color 0.5s ease-out 0s, border 0.5s ease-out 0s, color 0.2s ease-out 0.2s;
}

.edit-btn:hover {
    background-color: var(--middle-red);
    border: 2px solid var(--black);
    color: var(--white);
    cursor: pointer;
}

.edit-btn span {
    text-align: center;
}

.time span {
    margin: 0;
    padding: 0;

}

.date {
    display: flex;
}

.clock {
    display: flex;
    flex-direction: column;
}

.item-content {
    margin-top: 20px;
    padding-right: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14;
    font-family: var(--text-font);
    line-height: 1.6;
}

.item-content::-webkit-scrollbar {
    width: 5px;
}

.item-content::-webkit-scrollbar-track {
    background-color: var(--scroll-track);
    border-radius: 30px;
}

.item-content::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 30px;
}


/* Modal window style */

.modal-overlay {
    padding: 0 15px;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all .5s ease-out;
    overflow-y: scroll;
}

.modal-overlay-created {
    display: flex;
}

.modal-overlay-activated{
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: relative;
    top: -500px;
    transform: rotate(-160deg);
    border-radius: 10px;
    padding: 0 100px;
    background-color: var(--popUp-background);
    transition: all .5s ease-out;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-wrapper-created {
    display: block;
}

.modal-wrapper-activated {
    visibility: visible;
    opacity: 1;
    top: 0;
    transform: rotate(0deg);
}

.modal-content {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.modal-header {
    background-color: var(--popUp-header-background);
    padding: 10px;
    text-align: center;
    border-radius: 0 0 20px 20px;
    font-family: var(--text-font);
}

.modal-header-txt {
    font-size: 20px;
    font-weight: 500;
}

.modal-content-title, .modal-content-phone {
    margin-bottom: 20px;
}

.modal-title-txt, .modal-title-block {
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: var(--dark-grey);
}

.modal-title-txt {
    text-align: center;
    font-family: var(--text-font);
}


.modal-content-title, .modal-content-phone {
    display: flex;
    justify-content: center;
}

.modal-input-block {
    width: 70%;
    height: 40px;
    background-color: var(--white);
}

.modal-input-txt {
    width: 100%;
    height: 40px;
    border: none;
    padding: 5px;
    font-family: var(--text-font);
    font-size: 24px;
    border: 1px solid var(--white);
    transition: all 0.5s ease-out;
}

.modal-input-txt:focus {
    border: 1px solid red;
    transition: all 0.5s ease-out;
}

.phone-code-options {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background-color: var(--dark-grey);
    border: none;
    outline: none;
}

.phone-code-options option {
    font-size: 18px;
    font-family: var(--text-font);
}

.modal-content-remTxt {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--popUp-background-textArea);
}

.input-textArea {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--popUp-background-textArea);
    resize: none;
    border: none;
    outline: none;
    overflow-y: auto;
}

.input-textArea::-webkit-scrollbar {
    width: 5px;
}

.input-textArea::-webkit-scrollbar-track {
    background-color: var(--black);
}

.input-textArea::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey);
}

.modal-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--dark-grey);
    padding: 20px;
}

.modal-time input {
    font-size: 30px;
    background-color: var(--dark-grey);
    color: var(--dark-red-txt);
    border: none;
}

.modal-time > input {
    margin-left: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-buttons button, .modal-buttons label {
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    font-family: var(--text-font);
    font-size: 16px;
    text-align: center;
}

.save-btn {
    margin-right: 10px;
    background-color: var(--save-btn-green);
    border: 1px solid var(--save-btn-green);
    color: var(--white);
    transition: all 0.5s ease-out;
}

.save-btn:hover {
    background-color: var(--white);
    border: 1px solid var(--save-btn-green);
    color: var(--save-btn-green);
    cursor: pointer;
}

.cancel-btn {
    background-color: var(--cancel-btn-red);
    color: var(--white);
    border: 1px solid var(--cancel-btn-red);
    transition: all 0.5s ease-out;
}

.cancel-btn:hover {
    background-color: var(--white);
    color: var(--cancel-btn-red);
    border: 1px solid var(--cancel-btn-red);
    cursor: pointer;
}

/* Media */

@media (max-width: 1920px) and (min-width: 600px){
    .item:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 1280px) {
    .header-block {
        width: 800px;
        padding: 5px 100px;
    }

    .header-title {
        padding: 5px 50px;
    }

    .header-title h1{
        font-size: 21px;
    }

    .login-btn-txt {
        font-size: 14px;
        padding: 10px;
    }

    .item {
        height: 250px;
        padding: 20px;
    }


    .main-inner {
        padding: 0 20px;
        width: 800px;
    }

    section.items {
        margin-top: 25px;
    }

    .title-txt {
        font-size: 20px;
    }
}

@media (max-width: 799px) {
    .header-block {
        width: 800px;
        padding: 5px 100px;
    }

    .header-title {
        padding: 5px 50px;
    }

    .header-title h1 {
        font-size: 18px;
    }

    .login-btn-txt {
        font-size: 14px;
        padding: 10px;
    }

    .item {
        height: 200px;
        padding: 15px;   
    }

    .clock {
        font-size: 10px;
    }

    .item-content {
        margin-top: 10px;
        font-size: 12px;
    }

    .main {
        margin-top: 20px;
    }

    .main-inner {
        padding: 0 20px;
        width: 600px;
    }

    .edit-btn-block {
        width: 45px;
        height: 25px;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .edit-btn span {
        padding: 5px;
    }

    section.items {
        margin-top: 20px;
    }

    .title-txt {
        font-size: 20px;
    }

    .modal-wrapper {
        width: 400px;
        padding: 0 25px;
    }

    .modal-title-block {
        height: 30px;
    }

    .modal-input-block {
        height: 30px;
        font-size: 16px;
    }

    .modal-input-txt {
        height: 30px;
        font-size: 16px;
    }

    .modal-time {
        padding: 10px;
    }
}


@media (max-width: 599px) {
    .header-block {
        width: 400px;
        padding: 2.5px 25px;
    }

    .header-title {
        padding: 5px 20px;
    }

    .header-title h1 {
        font-size: 16px;
    }

    .login-btn-txt {
        font-size: 16px;
        padding: 5px;
    }

    .main-inner {
        padding: 0 20px;
        width: 400px;
    }

    .item {
        width: calc(100% / 2 - 25px);
        margin: 0 50px 50px 0;
    }

    .item:nth-child(2n) {
        margin-right: 0;
    }

    section.items {
        margin-top: 15px;
    }

    .title-txt {
        font-size: 18px;
    }

}

.scroll-block {
    width: 50px;
    height: 50px;
    overflow-y: scroll;
    visibility: hidden;
}